h1{
    color: rgb(37, 96, 148);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
}
img{
    border: rgb(106, 106, 216);
    border-width: 5px;
    border-style: solid;
    width: 600px;
    height: 500px;
}
body{
   
text-align: center;
}

#myCarousel{
    background-color: black;
}

p{
    color: rgb(255, 255, 255);
    font-size: large;
}